.navPanel {
  z-index: 200;
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translate3d(0, -50%, 0);
  text-align: right;

  .list {
    list-style-type: none;

    .item {

      .link {
        display: block;
        color: black;
        transition: all 0.5s;

        &::before {
          content: " ○";
        }

        &.active {
          font-size: 14px;

          &::before {
            content: " ●";
          }
        }


        &:hover {
          transform: translateX(-5px);
        }
      }
    }
  }
}