html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
}
.carousel-dots li.carousel-dots-active button:before {
    color: white !important;
}

.carousel-dots li button:before {
    content: "" !important;
    width: 20px !important;
    height: 20px !important;
    background-color: white !important;
    border-radius: 40px;
}

::-webkit-scrollbar {
    display: none;
}
