html {
    scroll-behavior: smooth;
}

.carousel-dots li.carousel-dots-active button:before {
    color: #d11435 !important;
}

.carousel-dots li button:before {
    content: "" !important;
    width: 20px !important;
    height: 20px !important;
    background-color: #d11435 !important;
    border-radius: 40px;
}
